/* Force navbar brand to be white */
.navbar-brand {
  color: #FFFFFF !important;
}

/* Shaded links for default state */
.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7) !important;
}

/* Full white for hover, focus, and active states */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: #FFFFFF !important;
}